.vscode/
datasets/joint_training
datasets/AlignData
logs/
ref_examples/
results/gen_rule_path/
results/KGQA/
results/gpt-3.5-turbo-0125
test/
wandb/
save_models/
.env
*.pyc
tmp/
RoG_train.tar.gz
config.json
webq.log
.DS_Store
test.ipynb